.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.headerFilter {
  display: flex;
  align-items: center;
  gap: 15px;
}

.headerFilter input {
  width: 250px;
}
